:host {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
  main{
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
  }

  main::-webkit-scrollbar { width: 0 !important }

  .contest-drawer-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: rgba(0,0,0,0.0);
  }

  .contest-drawer-content {
    overflow: hidden !important;
    display: flex !important;
  }

  .contest-start-drawer, .contest-end-drawer{
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,0.0);
    ::ng-deep .mat-drawer-inner-container{
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
  }

  .contest-start-drawer{
    width: 350px;
    border: 0;
  }

  .contest-end-drawer{
    width: calc(100% - 300px);
    border: 0;
  }

}
