<div fxFlex fxLayout="row" fxLayoutGap="10px">
  <h4>{{contest.competition.name}}</h4>
  <span fxFlex="1 0 auto"></span>
  <button mat-icon-button (click)="moveTo(0)" >
    <mat-icon>first_page</mat-icon>
  </button>
  <button mat-icon-button (click)="moveLeft()" >
    <mat-icon>chevron_left</mat-icon>
  </button>
  <button mat-icon-button (click)="moveRight()" >
    <mat-icon>chevron_right</mat-icon>
  </button>
  <button mat-icon-button (click)="moveTo(contest.competition.matches.length)" >
    <mat-icon>last_page</mat-icon>
  </button>
</div>

<drag-scroll #nav>
  <ng-container *ngFor="let match of contest.competition.matches">

    <ng-container *ngIf="match.status === 'SCHEDULED'">
      <app-upcoming-card drag-scroll-item [match]="match" [contestId]="contest.id"></app-upcoming-card>
    </ng-container>

    <ng-container *ngIf="match.status === 'IN_PLAY'">
      <app-lively-card drag-scroll-item [match]="match" [contestId]="contest.id"></app-lively-card>
    </ng-container>

    <ng-container *ngIf="match.status === 'FINISHED'">
      <app-past-card drag-scroll-item [match]="match" [contestId]="contest.id"></app-past-card>
    </ng-container>

  </ng-container>
</drag-scroll>
