<div fxFlex fxLayout="row" fxLayoutGap="10px">
  <h4>{{contest.competition.name}}</h4>
  <span fxFlex="1 0 auto"></span>
  <button (click)="moveTo(0)">Last</button>
  <button (click)="moveLeft()">Left</button>
  <button (click)="moveRight()">Right</button>
  <button (click)="moveTo(contest.competition.matches.length)">Last</button>
</div>

<drag-scroll #nav>
  <ng-container *ngFor="let match of contest.competition.matches">

    <ng-container *ngIf="match.status === 'SCHEDULED'">
      <app-upcoming-card drag-scroll-item [match]="match" [contest]="contest"></app-upcoming-card>
    </ng-container>

    <ng-container *ngIf="match.status === 'IN_PLAY'">
      <app-lively-card drag-scroll-item [match]="match" [contest]="contest"></app-lively-card>
    </ng-container>

    <ng-container *ngIf="match.status === 'FINISHED'">
      <app-past-card drag-scroll-item [match]="match" [contest]="contest"></app-past-card>
    </ng-container>

  </ng-container>
</drag-scroll>
