<mat-card class="custom-card">
  <mat-card-content fxLayout="column" mat-ripple
                    [routerLink]="['/contest/'+contest.id+'/matches/'+match.id]">

    <div fxLayout="row" fxLayoutAlign="space-between center" class="head-card">

      <div fxLayout="row" fxLayoutAlign="center center">
        <div class="card-team home-team">
          <app-blason [height]="'35'" [width]="'35'" [src]="match.homeTeam.logo">
          </app-blason>
        </div>
        <div class="card-team away-team">
          <app-blason [height]="'35'" [width]="'35'" [src]="match.awayTeam.logo">
          </app-blason>
        </div>
      </div>
      <div fxFlex fxLayout="column" fxLayoutAlign="center flex-end" fxLayoutGap="5px">
        <span class="card-hour">
            {{match.utcDate | date : 'HH:mm' }}
        </span>
        <span class="card-date">
            {{match.utcDate | date : 'MMMM d' }}
        </span>
      </div>

    </div>

    <div fxLayout="column">
      <span class="info-league">{{contest.competition.name}}</span>
      <div fxLayout="row" fxLayoutAlign="space-between" style="position: relative">
        <span class="info-team"
              [ngClass]="{'info-score-looser': match.score.winner.toString() != 'HOME_TEAM'}">{{match.homeTeam.name}}</span>
        <span class="info-score"
              [ngClass]="{'info-score-looser': match.score.winner.toString() != 'HOME_TEAM'}">{{match.score.fullTime.homeTeam}}</span>
        <ng-container *ngIf="match.score.winner.toString() === 'HOME_TEAM'">
          <span class="info-score-winner"></span>
        </ng-container>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between" style="position: relative">
        <span class="info-team"
              [ngClass]="{'info-score-looser': match.score.winner.toString() != 'AWAY_TEAM'}">{{match.awayTeam.name}}</span>
        <span class="info-score"
              [ngClass]="{'info-score-looser': match.score.winner.toString() != 'AWAY_TEAM'}">{{match.score.fullTime.awayTeam}}</span>
        <ng-container *ngIf="match.score.winner.toString() === 'AWAY_TEAM'">
          <span class="info-score-winner"></span>
        </ng-container>
      </div>
    </div>

  </mat-card-content>
</mat-card>
