<ng-container *ngIf="authService.currentUser.value; else notLogged">
  <div fxFlex="0 0 auto"
       fxLayout="column"
       fxLayoutGap="15px"
       fxLayoutAlign="center center"
       [routerLink]="['/profile']" class="avatar">
    <app-blason  [src]="authService.currentUser.value.picture"
                 [width]="'60'"
                 [height]="'60'" 
                 [routerLink]="['/profile']"
                 class="avatar">
    </app-blason>

    <button class="addContestBtn" mat-mini-fab (click)="addContext()">
      <mat-icon>add</mat-icon>
    </button>

    <div class="privateContestsList">
      <div *ngFor="let contest of privateContests" class="contestLogo" [routerLink]="['/contest/'+contest.id]">
        <app-blason matTooltip={{contest.caption}} [src]="contest.competition.logo"
          [width]="'25'" [height]="'25'">
        </app-blason>
      </div>
    </div>

  </div>
</ng-container>

<ng-template #notLogged>

</ng-template>

