<ng-container *ngIf="authService.currentUser.value; else notLogged">
  <div fxFlex="0 0 auto"
       fxLayout="column"
       fxLayoutGap="15px"
       fxLayoutAlign="center center"
       [routerLink]="['/profile']" class="avatar">
    <app-blason  [src]="authService.currentUser.value.picture"
                 [width]="'60'"
                 [height]="'60'" 
                 [routerLink]="['/profile']"
                 class="avatar">
    </app-blason>

    <button mat-mini-fab (click)="addContext()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</ng-container>

<ng-template #notLogged>

</ng-template>

