<div class="panel-header">
  <div fxFlex fxLayout="row" fxLayoutGap="15px">

    <h4>Upcoming</h4>
    <h4 class="sub-title">Matches</h4>

    <span fxFlex="1 0 auto"></span>

    <button mat-icon-button fxFlexAlign="flex-end">
      <mat-icon>more_vert</mat-icon>
    </button>

  </div>
</div>
<div class="panel-cards" fxLayout="column" fxLayoutGap="15px">

  <ng-container *ngFor="let pronostic of pronostics">
    <app-upcoming-card [match]="pronostic.match" [contestId]="pronostic.player.contestId"></app-upcoming-card>
  </ng-container>
  <ng-container *ngIf="pronostics.length == 0">
    <span class="info-empty">
      No match in progress...
    </span>
  </ng-container>
</div>
