@import '../../../node_modules/@angular/material/theming';
@import "../../styles/breakpoints";
:host {
  position: absolute;
  top: 0;
  left: 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(to right, #2D323E 0%, rgb(22, 25, 31) 100%);

}
