@import '../../../../../node_modules/@angular/material/theming';
:host{
  flex:0 0 100%;
  max-width: 32%;
  min-width: 32%;
  display: flex;
  flex-direction: column;
  height: 100%;

  .panel-header{
    flex: none;
    margin-top: 40px;
    border:none;
    border-radius: 10px;
    padding: 12px 30px;
    z-index: 2;
    background: #2f47bdad;
    h3,h4,h5{
      color:white;
      margin: 0;
      line-height: 40px;
      font-weight: 400;
    }
    .sub-title{
      color:rgba(255,255,255,0.7);
    }
    button{
      color:rgba(255,255,255,0.5);
      margin-right: -10px;
    }
  }
  .panel-cards{
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 0 15px 20px 15px;
  }
  app-upcoming-card,app-past-card,app-lively-card{
    min-width: inherit;
  }
  app-upcoming-card:first-child,app-past-card:first-child,app-lively-card:first-child,mat-card:first-child{
    margin-top: 10px;
  }

  ::ng-deep mat-card{
    cursor: pointer;
  }

  ::ng-deep mat-card:hover{
    transition: transform 0.3s ease-in;
    transform: scale(1.02);
  }

}
